@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.success {
  @apply bg-green-500 text-white;
}

.danger {
  @apply bg-red-500 text-white;
}

.warning {
  @apply bg-yellow-500 text-white;
}

.info {
  @apply bg-blue-500 text-white;
}
